{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Sign up{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2>Sign up</h2>

      <p>
        Welcome to the event ease. Do you already have an account? Then please <a class="link" href="{{ login_url }}">log in</a> instead.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-2 offset-md-2">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="row mb-2 align-items-center">
                <label for="{{ field.id_for_label }}" class="col-sm-4 col-lg-3">{{ field.label }}:</label>
                <div class="col-sm-8 col-lg-9">
                    {{ field }}
                </div>
            </div>
            {% if field.errors %}
              <div class="text-danger small">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-event mt-3 mb-3" type="submit">Sign up</button>
      </form>
      {% if form.non_field_errors %}
          <div class="errors">
              {% for error in form.non_field_errors %}
                  <div class="error">{{ error }}</div>
              {% endfor %}
          </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}