{% extends "base.html" %}
{% block content %}

    <h1>Past Events</h1>

    {% if past_events %}
        <ul>
            {% for event in past_events %}
                <li>
                    <h2>{{ event.title }}</h2>
                    <p>{{ event.description|linebreaks }}</p>
                    <p><strong>Date:</strong> {{ event.date }} at {{ event.time }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events available.</p>
    {% endif %}
    
{% endblock %}