{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class=" text-center">
        <h2 class="mt-4 mb-4">Thank you!</h2>
        {% if f == 'c' %}
            <p class="lead">Your message has been sent.</p>
            <p class="lead">The administration will reply you soon if needed.</p>
        {% else %}
            <p class="lead">Your event has been successfully created and is now pending approval.</p>
            <p class="lead">Once it has been approved, it will appear in the event list.</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-event mt-3">Back to Home</a>
    </div>
</div>
{% endblock %}
