/* Google fonts import (Nova Slim & Inter) */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Slim&display=swap'); */

/* CSS Variables */
:root {
/*    --primary-font: "Inter", sans-serif; */
/*    --secondary-font: "Nova Slim", cursive; */

    --primary-color: #00008b; /* dark blue */
    --secondary-color: #006400; /* dark green */
    --third-color: #f5f5f5 /* whitesmoke */
}


/* Navbar & Footer */
.navbar, footer {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
    color: var(--third-color);
}

.navbar-nav .nav-link {
    color: var(--third-color);
  }

.navbar-nav .nav-link.active {
    color: var(--third-color);
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    color: var(--third-color);
    text-decoration: underline;
}

/* index.html */
h1, h2 {
    color: var(--secondary-color);
}

.btn-create {
    color: var(--third-color);
    background-color: var(--secondary-color);
}

.btn-create:hover {
    background-color: var(--primary-color);
}

.event-card {
    border-color: var(--primary-color);
}

.card-title {
    color: var(--primary-color);
}

.btn-register {
    color: var(--third-color);
    background-color: var(--primary-color);
}

.btn-register:hover {
    background-color: var(--secondary-color);
}

.btn-next, .btn-previous {
    color: var(--primary-color);
}

.btn-next:hover, .btn-previous:hover {
    color: var(--secondary-color);
}

.btn-past {
    color: var(--primary-color);
}

.btn-past:hover {
    color: var(--secondary-color);
}